/ Main content area
- unless @albums.empty?
  .clearfix
    %h3= t('front.matsuev.media.album.photos')
    %ul.thumbs.albums
      - @albums.each do |album|
        - next if album.photos.empty?
        %li
          .hide
            %a{ href: media_album_path(album), title: album.title }
              %span.stack.level0
              %span.stack.level1
              %span.stack.level2
              = image_tag(album.photos.first.link('160c'))
              .info
                %span= album.title

  - unless @posts.empty?
    .clearfix.announce
      %h3= t('front.matsuev.media.press')
      .columns.block
        - @posts.each do |post|
          %article
            %time{:datetime => ""}
              %em>= post.created_at.day
              = t("months.m#{post.created_at.month.to_s}")
            %p
              = link_to post.content(@current_shard_language).title, blog_path(post)
              - if post.content(@current_shard_language).tags.include? @review_tag
                %span.label-review= @review_tag.name
      %p.more-link
        =link_to t('front.matsuev.media.more.press'), :media_press
  - unless @video_posts.empty?
    .clearfix
      %h3= t('front.matsuev.media.video.videos')
      %ul.thumbs.video
        - @video_posts.each do |post|
          - content = post.contents.for_shard_language(@current_shard_language).first
          - if(content)
            - video=content.videos.first
            - if video
              %li
                .hide
                  - if video.youtube?
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "auto", :src => "http://www.youtube.com/embed/#{content.videos.first.youtube_id}", :width => "100%"}
                  - else
                    %video{ id: "video_#{content.videos.first.id}", class: "video-js vjs-default-skin", controls: true, preload: "auto", width: "230", height: "150", :"data-setup" => '{}' }
                      %source{ src: content.videos.first.url(false, "mp4"), type: 'video/mp4' }
                      %source{ src: content.videos.first.url(false, "webm"), type: 'video/webm' }
                  .info
                    %span
                      = link_to post.content(@current_shard_language).title, blog_path(post)
                    %span= raw content.cut
- unless @audio_albums.empty?
  .clearfix

    .width50.audiotracks{:style => "min-height:380px"}
      .block
        %h3= t('front.matsuev.media.audio_tracks')
        %audio{ preload: :preload}
        :javascript
          //audiojs.events.ready(function() {
          $(function() {
              // Setup the player to autoplay the next track
              window.audios = audiojs.createAll({
                trackEnded: function() {
                  var next = $('ol li.playing').next();
                  if (!next.length) next = $('ol li').first();
                  next.addClass('playing').siblings().removeClass('playing');
                  audio.load($('a', next).attr('data-src'));
                  audio.play();
                }
              });
          });
        =render_widget(:audio_album_player, :display, @audio_albums.first, @current_shard_language)
    .width50.cd
      .block
        %h3= t('front.matsuev.media.audio_alubums')
        %ul.clearfix.thumbs.audio
          - @audio_albums.each do |album|
            %li
              .hide
                %a{class: :album_link, "data-id" => "#{album.id}"}
                  %img{:src => "#{album.cover.url(:thumb)}"}
                .a-title
                  %a{class: :album_link, "data-id" => "#{album.id}"}
                    =album.name
                .info
                  %span 
                    =album.description

      :coffeescript
        $("a.album_link").click ->
          $.ajax({url: "#{url_for_event(:album_selected, source: :audio_album_player, lang: @current_shard_language)}" + "&album_id=" + $(this).attr('data-id')})
