!!!
%html.bg1{ lang: "ru-RU" }
  %head
    %title= t('front.matsuev.denis_matsuev')
    = stylesheet_link_tag "denis/index"
    %meta{ charset: "UTF-8" }
  %body.bg1
    .background
      %ul.languages
        - unless @current_shard.nil?
          - @current_shard.shard_languages.each do |lang|
            %li{ class: @current_shard_language.language.code == lang.language.code ? "active" : nil }
              %a{ href: this_url_for_language(lang) } #{lang.language.name[0..2]}
      .logo-n-concert
        .monogram.top
        .logo{ class: (@current_shard_language.language.code if @current_shard_language) }
        - if @next_event
          = link_to @next_event, class: "concert" do
            .day= @next_event.starts_at.day.to_s
            .month= t("months.m#{@next_event.starts_at.month.to_s}")
            .title= @next_event.info(@current_shard_language).title
            .place= @next_event.info(@current_shard_language).city
        .monogram.bottom
      %ul.navigation
        %li= link_to t('front.matsuev.blog.blog'), personal_blog_index_path
        %li= link_to t('front.matsuev.blog.news'), official_blog_index_path
        %li= link_to t('front.matsuev.event.events'), events_path
        - if @static_pages[:main]
          - @static_pages[:main].each do |sp|
            %li
              - sp_c = sp.contents.for_shard_language(@current_shard_language)[0]
              = link_to sp_c.title, static_page_path(sp.permalink)
