#event.clearfix
  .date
    .day= @event.starts_at.day
    .month
      = I18n.l Time.mktime(00, @event.starts_at.month), format: "%B", locale: @current_shard_language.language.code
      \/
      = @event.starts_at.year
    .time= @event.starts_at.strftime("%H:%M") unless @event.without_time
  .title_place
    %h3.title= @info.title.to_s
    %span.place= @info.place
    %span.city= @info.city
  .desc
    - if @info.tickets_url
      .tickets_url
        = link_to t('front.matsuev.event.tickets_buy'), @info.tickets_url
      - if @info.tickets_price
        .tickets_price=@info.tickets_price

    = raw @info.desc
    .google_calendar= render "google_button", event: @event, info: @info
= render 'shared/share_buttons'