%div.clearfix
  - unless @next_event.nil? or @next_event.info(@current_shard_language).nil?
    %a.event{ href: event_path(@next_event) }
      %span.line
      %span.dot •
      %span.day= @next_event.starts_at.day.to_s
      %span.dot •
      %span.line
      %span.month= t("months.m#{@next_event.starts_at.month.to_s}")
      %span.name= @next_event.info(@current_shard_language).title
      %span.city= @next_event.info(@current_shard_language).city
      %span.location= @next_event.info(@current_shard_language).place
      %span.time= @next_event.starts_at.strftime("%H:%M") unless @next_event.without_time
