- if @last_news
  %h3= t('front.matsuev.blog.news')
  - @last_news.each do |post|
    %article
      %time{ datetime: "#{post.created_at}" }
        %em= post.created_at.day
        = t("months.m#{post.created_at.month.to_s}")
      %p
        = link_to post.content(@current_shard_language).title, blog_path(post)
%p.more-link
  = link_to t('front.matsuev.blog.all_news'), official_blog_index_path