!!!
:erb
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{ charset: "utf-8" }
  %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
  %meta{ name: "description", content: "" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = favicon_link_tag '/ico/shard/favicon.ico', rel: "shortcut icon"

  %title= t('front.shard_title')
  = stylesheet_link_tag "shard"
  %link{ href: "http://vjs.zencdn.net/c/video-js.css", rel: "stylesheet" }
  :erb
    <!--[if IE 8]>  <%= stylesheet_link_tag("ie/ie.css") %> <![endif]-->
  = javascript_include_tag "shard"
  %script{ src: "http://vjs.zencdn.net/c/video.js" }
  = yield :head
%body
  = render partial: 'front/shared/outdated_browser_body'
  .bigimg
    .rel
      = image_tag "matsuev/bg#{rand(4).succ}.jpg"
      .cover
  .watermark{ class: lang_code }
  %div{ role: "main", class: index_page? ? "page index" : "page inner #{@static_page_class}" }
    %header
      %nav
        %ul.menu
          = render 'front/shared/navigation', { part: :top }
        %ul.language
          - if @current_shard_language
            - @current_shard.shard_languages.each do |lang|
              %li{ class: @current_shard_language.language.code == lang.language.code ? "active" : nil }
                %a{ href: this_url_for_language(lang) } #{lang.language.name[0..2]}
          %li.bookmark
            %a.add_to_bookmarks{ href: "#" }
              %b
                %em= t('front.matsuev.bookmarks')
      %h1{ class: lang_code }
        = link_to t('front.matsuev.denis_matsuev'), root_path
        .light
    -# - if index_page?
    -#   %section.player#intro
    -#     - if @current_shard_language
    -#       = render 'front/matsuev/shared/videos_on_index'
    %section.social
      %div
        %h4= t('front.matsuev.social.title')
        %ul
          = render 'front/shared/social_accounts'
    - if index_page?
      %section.photo
        = # render "front/matsuev/shared/photos_widget"
    %section{ class: @unsticked ? "center-section unsticked" : "center-section"}
      %ul.breadcrumbs
        = render_breadcrumbs separator: "&nbsp;/&nbsp;", tag: "li"
      = yield
    %aside
      - unless index_page? || @current_shard_language.nil?
        = # render "front/matsuev/shared/left_nav"
      %section.next-event
        = # render "front/matsuev/shared/event_widget"
      - unless events_page?
        %section.calendar
          = # render "front/matsuev/shared/calend_widget", count: 4
    %footer
      .copy
        .title
          = t('front.matsuev.denis_matsuev')
          %br
        .right
          &copy;
          = t('front.matsuev.copy') + " 2011."
      %nav
        %ul.language
          %li.bookmark
            %a.add_to_bookmarks{ href: "" }
              %b
                %em= t('front.matsuev.bookmarks')
        .search
          = form_tag(search_path) do
            = hidden_field_tag :search_input_prompt, t('front.matsuev.search.prompt'), {:class => "search-input-prompt"}
            = text_field_tag :search, t('front.matsuev.search.prompt'), {:class => "search-input"}
        %ul.menu
          = render 'front/shared/navigation', { part: :bottom }
:erb
  </html>
